#totop
  a(href="#").totop-item
    span.totop-candle: img(src=depth + "img/candle.png", alt="")
    span.totop-candlelight: img(src=depth + "img/candle_light.png", alt="")
footer#footer
  .container.margin-sp
    .row
      .footer-logo: a(href="/")
        img(src=depth + "img/footer_logo.png", alt="森のスープ屋の夜").image-footer-logo
        p: small 一組限定の宿
      .footer-address
        address
          ul
            li 〒689-4103　鳥取県西伯郡伯耆町真野694-19
            li 電話予約　0859-57-5774
            li 電話予約は12時から18時まで承っております。
            li ただし、外出時や作業時には電話に出れない場合もございます。
    .row
      .footer-copyright
        p: small Copyright © 2019 cinemaValley All Rights Reserved.