extends /base/_default
block vars
  - var depth       = '';
  - var title       = '森のスープ屋の夜 1組限定の宿';
  - var description = 'サイトの説明';
  - var keywords    = 'キーワード';
  - var bodyId      = 'home';
  - var bodyClass   = 'home blog';
  - var dirName     = '';
block content
  include /parts/parts-home