@charset "utf-8";

@use "../../mixins/mixins" as *;
@use "../../setting/settings" as *;

.title{
	line-height: 1.25;
	margin-bottom: 10px;
	font-weight: 700;
  @include media(sp){
    margin-bottom: 5px;
  }
}

.title-medium{
  font-size: 20px;
}

.title-medium-up{
  font-size: 22px;
}