<footer id="footer">
  <div class="container margin-sp">
    <div class="row">
      <div class="footer-logo"><a href="/"><img class="image-footer-logo" src="/img/footer_logo.png" alt="森のスープ屋の夜"><p><small>お手当てのための宿</small></p></a></div>
      <div class="footer-address"> <address>
        <ul>
          <li>〒689-4103　鳥取県西伯郡伯耆町真野694-19</li>
        </ul>
      </address> お問い合わせはメールでお願いいたします。<br><a href="mailto:cinemavalley5@gmail.com" style="color: inherit">cinemavalley5@gmail.com</a>
        <p><small>Copyright © 2019 cinemaValley All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</footer>