<%
 const pageMeta = {
  path: '/',
  title: '森のスープ屋の夜 - 一日一組限定の宿',
  description: '絵本の世界がここにありました。鳥取県 大山。”森のスープ屋の夜 一日一組限定の宿”が2019年10月14日にオープン。迎えてくれたは質素な小屋とクロモジのお風呂、そして木々たち。山の夜で月と過ごす癒しの時間を。・・・旅へ・・・。'
 }
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include( '_meta.ejs', { meta: pageMeta }); %>
</head>
<body class="home blog" id="home">
  <%- include( '_header.ejs' ); %>
  <main id="main" role="main">
    <div id="modal-base"></div>
    <div class="area-hero">
      <div class="hero-wrapper">
        <div class="container position-relative">
          <div class="block-hero-first"><img src="/img/hero_text1.png" alt="森のスープ屋の夜 2019.10.14 open" /></div>
          <div class="block-hero-second"><img src="/img/hero_text2.png" alt="旅へ　目的地は私の中にある静かな場所　とてもあたたかくて　まあるいところ。" /></div>
        </div>
        <div class="hero-light"><img src="/img/house_light.png" alt="" /></div>
      </div>
    </div>
    <section class="area-intro inview fadeup-intro1" id="intro">
      <div class="container margin-sp position-relative bg-intro">
        <div class="intro-header fadeup-intro2">
          <h2 class="title intro-title"><img class="image-intro" src="/img/intro_text.png" alt="ようこそ　森のスープ屋の夜へ" /></h2>
        </div>
        <div class="intro-main fadeup-intro3">
          <p>ここは森の休憩所。<br>ふかふかの森と質素な小屋と。<br>まずはお風呂にしませんか。</p>
          <p>心と体を洗うクロモジの湯。<br>いつもがんばる体に ありがとう を。<br>夕暮れのころ森いっぱいに香るのは 今夜のスープ。</p>
          <p>いただきます は、いのちを頂く大切な時間。<br>ゆっくりゆっくりどうぞ。</p>
          <p>蝋燭のゆらぎと薪ストーブの温もりにほどけてゆく夜。<br>今夜は新月。真夜中の森に出かけてみませんか。</p>
          <p>旅へ 目的地は、私の中にある静かな場所。<br>とてもあたたかくてまあるいところ。</p>
        </div>
      </div>
    </section>
    <section class="area-map inview fadeup-map1" id="map">
      <div class="map-block fadeup-map2">
        <div class="map-header">
          <h2><img class="image-map" src="/img/map_text.png" alt="森のお散布map" /></h2>
        </div>
        <ul class="map-list fadeup-map3">
          <li><span class="js-modal link-map link-map_meditation" data-id="meditation">木々と瞑想室</span></li>
          <li><span class="js-modal link-map link-map_garden" data-id="garden">森の薬草園</span></li>
          <li><span class="link-map link-map_ruhe"><a href="https://soupya.stores.jp/" target="_blank" class="text-link">小さなお店</a></span></li>
          <li><span class="js-modal link-map link-map_rest" data-id="rest">森の休憩室<br>(客室)</span></li>
          <li><span class="js-modal link-map link-map_soup" data-id="soup">森のスープ屋</span></li>
          <li><span class="js-modal link-map link-map_bath" data-id="bath">心と体を洗う<br>黒文字風呂</span></li>
        </ul>
      </div>
      <div class="tac">
        <p>MAPをクリックすると、詳しい情報を見ることができます。</p>
      </div>
    </section>
    <div class="modal-content" id="meditation">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header">
            <h2 class="mb40"><img src="/img/meditation_text.png" alt="木々と瞑想室" /></h2>
          </div>
          <div class="modal-block_content">
            <div class="modal-block_gallery">
              <div class="js-slider-gallery">
                <div class="slick-slide"><img src="/img/medical_01.jpg" alt="" /></div>
              </div>
            </div>
            <div class="tac">
              <p>森の一番奥は<br>木々が身を寄せ合い作ってくれた瞑想室。<br>朝日を浴びて。<br>深呼吸、深呼吸。<br>私のいのちを五感で感じてみる。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content" id="garden">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header">
            <h2 class="mb40"><img src="/img/herb_text.png" alt="森の薬草室" /></h2>
          </div>
          <div class="modal-block_content">
            <div class="modal-block_gallery">
              <div class="js-slider-gallery">
                <div class="slick-slide"><img src="/img/mediherb_01.jpg" alt="" /></div>
                <div class="slick-slide"><img src="/img/mediherb_02.jpg" alt="" /></div>
                <div class="slick-slide"><img src="/img/mediherb_03.jpg" alt="" /></div>
              </div>
            </div>
            <div class="tac">
              <p>日本みつばちや黒文字の木など。<br>さまざまな生きものと暮らす森。<br>森からの贈りもの 「はちみつや薬草」を<br>お宿では少しづつおすそ分けさせていただきます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content" id="rest">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header">
            <h2 class="mb40"><img src="/img/restroom_text.png" alt="森の休憩室" /></h2>
          </div>
          <div class="modal-block_gallery">
            <div class="js-slider-gallery">
              <div class="slick-slide"><img src="/img/room_01.jpg" alt="" /></div>
              <div class="slick-slide"><img src="/img/room_02.jpg" alt="" /></div>
              <div class="slick-slide"><img src="/img/room_03.jpg" alt="" /></div>
            </div>
          </div>
          <div class="modal-block_content">
            <p>長い夜を過ごすのは、谷を臨む質素な小屋。<br>深まりゆく夜の森の様子を感じながら、心おだやかに過ごす時間。<br>いつもより少しだけ静かな灯りでどうぞゆったりとお過ごし下さい。<br>温かなクロモジのお茶を一杯いかがですか。</p>
            <p>小さな屋根裏にはお日さまの香りがするお布団。小窓から差し込む朝の光と野鳥の唄声が深い眠りから起こしてくれるでしょう。</p>
            <hr class="line" />
            <h3 class="title-semi-medium">客室タイプ</h3>
            <div class="ml20">
              <p class="mb10">宿泊小屋(1Fフロア、屋根裏寝室、デッキ)、お風呂小屋</p>
              <div class="ml20">
                <ul>
                  <li><small class="small">※お身体の不自由な方はご相談下さい。</small></li>
                  <li><small class="small">1Fにお布団を準備させて頂きます。</small></li>
                </ul>
              </div>
            </div>
            <hr class="line" />
            <dl class="dl-table"> <dt class="pr20">広さ</dt>
              <dd>19.6㎡</dd>
            </dl>
            <hr class="line" />
            <dl class="dl-table"> <dt class="pr20">定員</dt>
              <dd>2名</dd>
            </dl>
            <hr class="line" />
            <h3 class="title-semi-medium">客室備品</h3>
            <p class="mb0">お布団（伯州綿）、ルームウェア、羽織りもの（大山の羊毛）、タオル、薪ストーブ</p>
            <hr class="line" />
            <h3 class="title-semi-medium">アメニティ</h3>
            <div class="ml20">
              <ul>
                <li>クロモジ蒸留水</li>
                <li>歯ブラシ</li>
              </ul>
            </div>
            <hr class="line" />
            <p><small>※テレビや冷蔵庫、Wi-Fiはありません。<br>備品やアメニティは大山とその周辺に暮らす作り手によるハンドメイドです。</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content" id="bath">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header">
            <h2 class="mb10"><img src="/img/bath_text.png" alt="心と体を洗う　黒文字風呂" /></h2>
          </div>
          <div class="modal-block_gallery">
            <div class="js-slider-gallery">
              <div class="slick-slide"><img src="/img/bath_01.jpg" alt="" /></div>
              <div class="slick-slide"><img src="/img/bath_02.jpg" alt="" /></div>
            </div>
          </div>
          <div class="modal-block_content tac-pc pt40-pc">
            <p>この森には野生の黒文字の木が多く暮らしています。<br>和製ハーブ 黒文字の枝は生薬ウショウとも呼ばれその優しい香りと成分が深い癒しをもたらしてくれます。<br>春の芽吹きと黄色いお花、夏の青々とした葉、秋の熟成した枝葉、冬の静けさと裸木。<br>植物の持つエネルギーが心と体に優しく働きかけます。</p>
            <p>清らかなわたしに触れる静かな時間を。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content" id="soup">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header">
            <h2 class="mb40"><img src="/img/gallery_text.png" alt="" /></h2>
          </div>
          <div class="modal-block_gallery">
            <div class="js-slider-gallery">
              <div class="slick-slide"><img src="/img/soup_01.jpg" alt="" /></div>
              <div class="slick-slide"><img src="/img/soup_02.jpg" alt="" /></div>
              <div class="slick-slide"><img src="/img/soup_03.jpg" alt="" /></div>
            </div>
          </div>
          <div class="modal-block_content tac-pc pt30-pc">
            <p>夕食/安らぎの月夜のコース料理<br>朝食/おひさまと作るスープとパン</p>
            <p>大山の黒土で育った無農薬のお野菜をたっぷり使ったお料理。</p>
            <p>今、畑にあるものをいただきます。</p>
            <p>ほんの少しだけお野菜と秘密の会話をしたら、あとはコトコト、レシピはありません。</p>
            <p>メインは、スープ。</p>
            <p>大切な体にお迎えする食材は、エナジーたっぷりのものを選んでいます。</p>
            <p>味付けはシンプルに塩、味噌、醤油、薬草やスパイス少し。</p>
            <p>心も体もうれしいお食事の時間をどうぞお楽しみ下さい。</p>
          </div>
        </div>
      </div>
    </div>
    <section class="area-year" id="year">
      <div class="slider-year-sp">
        <div class="year-block slider-year_item header inview fadeup-year1">
          <div class="container position-relative">
            <div class="year-header">
              <h2 class="title"><img class="image-year" src="/img/year_text1.png" alt="森のいちねん" /></h2>
            </div>
            <div class="year-bg blend-multiply"></div>
          </div>
        </div>
        <div class="year-block slider-year_item season spring inview fadeup-year2">
          <div class="container position-relative">
            <div class="season-block spring">
              <h3 class="title-season"><img src="/img/year_text2.png" alt="春" /></h3>
              <div class="tac-sp">
                <p>草木の芽吹きにこころ弾む春。<br>土のベッドに転がり夕日を浴びる。<br>呼吸を深く。</p>
                <p>眠りの木に寄り添うやわらかな夜。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="year-block slider-year_item season summer inview fadeup-year3">
          <div class="container position-relative">
            <div class="season-block summer">
              <h3 class="title-season"><img src="/img/year_text3.png" alt="夏" /></h3>
              <div class="tac-sp">
                <p>お月さまを待つ頃<br>森いっぱいに響きわたるのは<br>ヒグラシの唄声。</p>
                <p>優しい風が心を撫でる星降る夜。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="year-block slider-year_item season autumn inview fadeup-year4">
          <div class="container position-relative">
            <div class="season-block autumn">
              <h3 class="title-season"><img src="/img/year_text4.png" alt="秋" /></h3>
              <div class="tac-sp">
                <p>夕暮れの頃<br>赤く染まる落ち葉のじゅうたん。</p>
                <p>夜空からの贈りものは、<br>一日の疲れを癒す月灯りと<br>長い夜の時間。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="year-block slider-year_item season winter inview fadeup-year5">
          <div class="container position-relative">
            <div class="season-block winter">
              <h3 class="title-season"><img src="/img/year_text5.png" alt="冬" /></h3>
              <div class="tac-sp">
                <p>寒い冬は想いを温めるとき。<br>ストーブに火を入れて<br>ゆらゆら私と過ごす夜。</p>
                <p>白い世界で見つけた色鮮やかもの。<br>私の中に映し出されたのは<br>真っ赤な林檎。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="area-other inview fadeup-other1" id="outro">
      <div class="container">
        <div class="schedule-area">
          <span class="js-modal schedule-title" data-id="message">
            <img src="/img/schedule-title.png" alt="お手当ての為の宿の一日">
          </span>
        </div>
      </div>
    </div>
    <div class="modal-content" id="story">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block">
          <div class="modal-block_header"><img class="image-story_badge" src="/img/story_badge.png" alt="" />
            <h3 class="title-medium title-story"><img src="/img/story_text.png" alt="森との出会い" /></h3>
          </div>
          <div class="modal-block_content">
            <p>鳥取県 大山。<br>雪降る日に谷を臨む小さな森に出会いました。<br>ゆっくり歩くその足は止まり、「ここだ」と感じました。<br>森の中央 スープ屋の建つ場所です。<br>一瞬寒さを忘れて炎の揺らぎと温もりを感じたのを 今でも思い出します。<br>この場所を 「うれしい」を映し出す（cinema）、谷（valley） シネマバレイと名付けました。</p>
            <p>原点は20年前、遥か海の向こう、旅の途中で出逢った小さなホスピス。<br>国籍や宗教関係無く人々が共に時間を過ごす平和な場所がそこにありました。<br>ホスピスの始まりは中世ヨーロッパの修道院と言われています。 旅人の疲れを癒す休憩所です。<br>初めて出逢ったその時に「これだ」と感じたものはカタチを変えて 森のスープ屋になりました。<br>この森に訪れただけで心穏やかになるような、 そんな静かな空間を木々たちと一緒に育ててゆきます。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content" id="message">
      <div class="modal-flex"><i class="js-modal-close"><img src="/img/icon_close.png" alt="閉じる"/></i>
        <div class="modal-block modal-block_message">
          <div class="modal-block_header">
            <h3 class="modal-title_schedule">
              <img src="/img/schedule-title.png" alt="お手当ての為の宿の一日">
            </h3>
          </div>
          <div class="modal-block_content">
            <div class="block-poet">
              <p>心　体　魂　を<br>
                このあたたかな手で<br>
                撫でるよろこびを教えてくれた森<br>
                自然の存在から受け取り育むこと<br>
                私が私を撫でること<br>
                毎日の暮らしをいつくしむ<br>
                お手当ての時間
                </p>
              <p>
                呼吸をすること<br>
                お散歩をすること<br>
                お茶を飲むこと<br>
                お風呂に入ること<br>
                食べること<br>
                眠ること<br>
                目覚めること<br><br>
                日々のことを丁寧にあじわうこと
              </p>
              <p>
                森からの贈りものを<br>
                いのちいっぱい受け取るための<br>
                清らかな空間を調えてお待ちしています
              </p>
            </div>
            <div class="block-schedule">
              <div class="block-schedule__wrap">
                <div class="schedule-day schedule-day1">
                  <dl class="timetable">
                    <dt>15:00</dt>
                    <dd>チェックイン・森のご案内ツアー</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>15:30</dt>
                    <dd>お茶・お散歩など　</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>16:30</dt>
                    <dd>クロモジの薬草風呂</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>18:30</dt>
                    <dd>夜のお手当てスープ</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>21:00</dt>
                    <dd>クロモジのセルフケア</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>22:00</dt>
                    <dd>おやすみの瞑想</dd>
                  </dl>
                </div>
                <div class="schedule-day schedule-day2">
                  <dl class="timetable">
                    <dt>7:00</dt>
                    <dd>おはようの瞑想</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>8:00</dt>
                    <dd>朝のお手当てスープ</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>9:00</dt>
                    <dd>お茶・お散歩など</dd>
                  </dl>
                  <dl class="timetable">
                    <dt>10:00</dt>
                    <dd>チェックアウト</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area-social inview fadeup-social1">
      <div class="container">
        <ul class="list-social">
          <li><a href="https://www.facebook.com/cinemavalley5/?fref=ts" target="_blank"><img src="/img/icon_facebook.png" alt="Facebook"/></a></li>
          <li><a href="https://www.instagram.com/soupyanoyoru/?igshid=14rq9gdi5ahid&amp;fbclid=IwAR39NKsXMm0SRUvCURy3gSeayJY2K9dkClXVSotx_kn-L4L5fpj0Up5GqU0" target="_blank"><img src="/img/icon_instagram.png" alt="Instagram"/></a></li>
        </ul>
      </div>
    </div>
    <div class="area-cta inview fadeup-cta1">
      <div class="container margin-sp">
        <ul class="list-cta">
          <li class="cta-full cta-bottom js-cta-bottom"><a class="button button-reserve" href="reservation/">ご宿泊予約はこちら<span class="text-en">Reservation</span></a></li>
          <li class="cta-full"><a class="button button-reserve" href="https://soupya.stores.jp/" target="_blank"><span class="text-en">online shop</span></a></li>
        </ul>
      </div>
    </div>
    <div class="area-gmap inview fadeup-map1" id="access"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3253.239178762925!2d133.46695471491114!3d35.374523417784694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3556f53b9dba3295%3A0x69026627c4d5cb46!2z5qOu44Gu44K544O844OX5bGLY2luZW1hVmFsbGV5!5e0!3m2!1sja!2sjp!4v1552822556237" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    <div class="gmap-footer"><a class="button button-primary" href="access/">くわしいアクセス情報はこちら</a></div>
  </main>
  <div id="totop"><a class="totop-item" href="#"><span class="totop-candle"><img src="/img/candle.png" alt=""></span><span class="totop-candlelight"><img src="/img/candle_light.png" alt=""></span></a></div>
  <%- include( '_footer.ejs' ); %>
  <%- include( '_sound.ejs' ); %>
  <script type="module" src="/main.ts"></script>
</body>
</html>