extends /base/_default
block vars
  - var depth       = '../';
  - var title       = '予約フォーム';
  - var description = 'サイトの説明';
  - var keywords    = 'キーワード';
  - var bodyId      = 'page';
  - var bodyClass   = 'page_reservation';
  - var dirName     = '';
block content
  .area-pagetitle.mb40
    .container
      .bg-pagetitle.pr30-sp.pl20-sp
        h1.title-pagetitle 宿泊予約
  .area-main
    .container.margin-sp
      .reserve-block
        h3.title-medium-up.mb10 ご宿泊料金
        p １泊２食付き<br>２名様でご利用<br>　大人1名25,000円（税抜）
        ul.list-dotted
          li チェックイン16:00から、チェックアウト11:00まで
          li １名様でのご利用は15,000円（税抜）追加になります。
          li ご宿泊者は、中学生以上とさせていただきます。乳幼児の同伴はご遠慮ください。
          li 週末・連休・お盆・年末年始は、割増料金になります。
      .reserve-block
        h3.title-medium-up.mb10 キャンセル料金規定
        p キャンセルされる場合はお早めにご連絡ください。キャンセル料が発生する場合がございますので、下記をご確認下さい。
        dl.mb20
          dt 14日前～４日前キャンセル
          dd 宿泊料金の３０％
        dl
          dt ３日前～当日キャンセル
          dd 宿泊料金の１００％
      .reserve-block
        h3.title-medium-up.mb10 送迎
        p 近隣の駅（伯耆大山・岸本・溝口駅）まで送迎いたします。ご希望の方は、お申し出ください。
      .reserve-block
        h3.title-medium-up.mb10 電話予約の方
        p.mb10: a(href="tel:0859575774").tel.link-tel.large 0859-57-5774
        p 電話受付は、12〜18時で承っております。ただし、外出時や作業時には電話に出れない場合もございます。
      .reserve-system
        h3.title-medium-up.mb10 空室カレンダー
        .reserve-system_main
          img(src="../img/calendar_dummy.png", alt="")
        p: small.small ※一日一組限定のため、ご予約は先着順とさせていただきます。