@charset "utf-8";

@use "../../mixins/mixins" as *;
@use "../../setting/settings" as *;

.tac{text-align: center;}
.tar{text-align: right;}
.ta{text-align: left!important;}

@each $media in $medias {
  @include media(#{$media}){
    .tac-#{$media}{text-align: center;}
    .tar-#{$media}{text-align: right;}
    .ta-#{$media}{text-align: left!important;}
  }
}

.strong{
  font-weight: 700;
}

.normal{
  font-weight: 400;
}

.small{
  font-size: 0.8em;
}